<!DOCTYPE html>
<html>

    <head>
        <title>Dashboard</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <style>
          td{
            padding: 5px;
            text-align: center;
          }

          th{
            font-size: 20px;
          }
        </style>
        <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
    </head>

    <body>
        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">
                    <a class="navbar-brand" href="./home.html">
                        <img style="height: 4vh;" class="img-fluid rounded" src="../../static/images/logo.png">
                        <span>Portfolio Manager</span>
                    </a>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{%url 'app:home'%}" class="list-group-item list-group-item-action bg-light">Home</a>
                    <a href="{%url 'app:dashboard'%}" class="list-group-item list-group-item-action bg-light">Dashboard<span class="sr-only">(current)</span></a>
                    <a href="{%url 'app:portfolio'%}" class="list-group-item list-group-item-action bg-light">Portfolio</a>
<!--                     <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                    <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="font-size: 20px;">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-user-circle"></i> {{ request.user }}<span class="caret"></span></a>
                            </li>
                            &nbsp;&nbsp;&nbsp;
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'app:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>

            {% block content %}


                {% endblock content %}
            </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/js/home.js"></script>

    </body>
</html>

o