{% extends "app/base.html" %}
{% block title %}
Portfolio
{% endblock %}

{%block content%}
                <div class="container mb-5">
                    <h1 class="mt-5"><i class="fa fa-folder-open" aria-hidden="true"></i> Portfolio</h1>
                    <br><br>
                    <h3>Total Investment: Rs {{ total }}</h3>
                    <br>
                    <div class="row">
	                    <div class="col-6" id="chartContainer1" style="height: 500px; width: 100%;"></div>
	                    <div class="col-6 mt-5 p-5">
	                    	<h4>Dividends Expected:</h4>
	                    	{% for key, values in dividend.items %}
	                    	<h4>{{ key }} - 
	                    	{% for val in values %}
	                    		{{ val.0 }}
	                    	{% endfor %}
	                    	</h4>
	                    	{% endfor %}
	                    </div>
                	</div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

          </div>
          <!-- /#wrapper -->

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/js/home.js"></script>
        <script type="text/javascript">

            window.onload = function () {

            var f = [{% for key, value in costs.items %}
                        {y: {{ value }}, label: "{{ key }}"},
                     {% endfor %}
                    ];

            var chart = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                title:{
                    text: "Investments",
                    horizontalAlign: "left"
                },
                data: [{
                    type: "doughnut",
                    startAngle: 60,
                    //innerRadius: 60,
                    indexLabelFontSize: 18,
                    indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: f
                }]
            });
            chart.render();

            }
        </script>




{%endblock content%}
</div>