        <script type="text/javascript">

            window.onload = function () {

            var f = [{% for key, value in costs.items %}
                        {y: {{ value }}, label: "{{ key }}"},
                     {% endfor %}
                    ];

            var chart = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                title:{
                    text: "Investments",
                    horizontalAlign: "left"
                },
                data: [{
                    type: "doughnut",
                    startAngle: 60,
                    //innerRadius: 60,
                    indexLabelFontSize: 18,
                    indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: f
                }]
            });
            chart.render();

            }
        </script>